footer {
    background-color: #00ff00;
    height: 60px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    justify-content: center;
    align-items: center;
}